/* default style fix */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: light;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* end of default styles */

body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.all-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5DC;
    border-radius: 10px;
}

.header-svg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #FFB000;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 5%;
}

.svg-container {
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-background-1 {
    background-image: url(./assets/fans.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.form-container {
    grid-area: "login";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-container > div {
    width: 100%;
}